{% extends 'base.html.twig' %}

{% block title %}Centre index{% endblock %}

{% block body %}
    <h1>Centre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codi</th>
                <th>Centre</th>
                <th>Direccio</th>
                <th>Localitat</th>
                <th>Telefon</th>
                <th>Query</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centre in centres %}
            <tr>
                <td>{{ centre.id }}</td>
                <td>{{ centre.codi }}</td>
                <td>{{ centre.centre }}</td>
                <td>{{ centre.direccio }}</td>
                <td>{{ centre.localitat }}</td>
                <td>{{ centre.telefon }}</td>
                <td>{{ centre.query }}</td>
                <td>
                    <a href="{{ path('app_centre_show', {'id': centre.id}) }}">show</a>
                    <a href="{{ path('app_centre_edit', {'id': centre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_centre_new') }}">Create new</a>
{% endblock %}
